:root{
    --bg-color: #F8F7F2;
    --primary: #7A8F6B;
    --secondary: #D6CE93;
    --accent: #D8A48F;
    --danger: #C97B84;
    --card: #FFFFFF;
    --text: #333333;
}

body{
    background-color: var(--bg-color);
    color: var(--text);
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar{
    background-color: var(--primary) !important;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

/* Heading */
h1{
    color: var(--primary);
    font-weight: 700;
}

/* Card */
.card{
    background: var(--card);
    border: none;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

/* Input */
.form-control,
.form-select{
    border-radius: 10px;
    border: 1px solid #ddd;
}

.form-control:focus,
.form-select:focus{
    border-color: var(--primary);
    box-shadow: 0 0 0 .2rem rgba(122,143,107,.25);
}

/* Task Cards */
.list-group-item{
    border: none;
    border-radius: 14px !important;
    margin-bottom: 12px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,.06);
    transition: .3s;
}

.list-group-item:hover{
    transform: translateY(-3px);
}

/* Completed Task */
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

/* Buttons */
.btn{
    border-radius: 10px;
    border: none;
    transition: .3s;
}

.btn-primary{
    background: var(--primary);
}

.btn-primary:hover{
    background: #687d5b;
}

.btn-warning{
    background: var(--accent);
    color: white;
}

.btn-warning:hover{
    background: #c88f78;
    color: white;
}

.btn-danger{
    background: var(--danger);
}

.btn-danger:hover{
    background: #b96872;
}

.btn-success{
    background: var(--secondary);
    color: var(--text);
}

.btn-success:hover{
    background: #c6bd82;
    color: var(--text);
}

/* Priority Badges */
.high{
    background:#C97B84;
}

.medium{
    background:#D6CE93;
    color:#333;
}

.low{
    background:#7A8F6B;
}

.badge{
    padding:7px 12px;
    border-radius:20px;
}

/* Dark Mode */

body.dark-mode{
    background:#1E1E1E;
    color:#F8F7F2;
}

/* Navbar */

body.dark-mode .navbar{
    background:#111111 !important;
}

/* Cards */

body.dark-mode .card{
    background:#2B2B2B;
    color:white;
}

/* Task Cards */

body.dark-mode .list-group-item{
    background:#2B2B2B;
    color:white;
}

/* Inputs */

body.dark-mode .form-control{
    background:#3B3B3B;
    color:white;
    border:1px solid #555;
}

body.dark-mode .form-control::placeholder{
    color:#ccc;
}

body.dark-mode .form-control:focus{
    background:#3B3B3B;
    color:white;
}

/* Search */

body.dark-mode #searchInput{
    background:#3B3B3B;
    color:white;
}

/* Buttons */

body.dark-mode .btn-light{
    background:white;
}